git+https://github.com/accurs/uwuipy
anyio
asyncpg
boltons
cairosvg
cashews[redis]
colorama
colorthief
cryptography
dateparser
discord
humanize
jishaku
psutil
pydantic
pydantic-settings
redis
tornado
typing_extensions
wand
xxhash
lxml
humanfriendly